/* body {
    background-color: ;
} */
#post {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin-left:35%;
    margin-right:35%;
    
}
#topBar {
    background-color: white;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}
#postPhoto {
    height:100%;
    width:100%;
}
#postIcons {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
#postText {
    background-color: white;
    padding: 10px;
}
#html5Rigo {
    display: flex;
    flex-direction: column;
}
#htmlIcon {
    display: flex;
}
